textarea:focus,
input:focus {
  outline: none;
}

*:focus {
  outline: none;
}

@font-face {
  font-family: "GilroyLight";
  src: url("Gilroy-Light.ttf");
}

@font-face {
  font-family: "GilroyRegular";
  src: url("Gilroy-Regular.ttf");
}

@font-face {
  font-family: "GilroyMedium";
  src: url("Gilroy-Medium.ttf");
}

@font-face {
  font-family: "GilroySemibold";
  src: url("Gilroy-Semibold.ttf");
}

.light-font {
  font-family: "GilroyLight";
  /* font-weight:normal;
font-style:normal; */
}

.regular-font {
  font-family: "GilroyRegular";
  /* font-weight:normal;
font-style:normal; */
}

.medium-font {
  font-family: "GilroyMedium";
  /* font-weight:normal;
font-style:normal; */
}

.semibold-font {
  font-family: "GilroySemibold";
  /* font-weight:normal;
font-style:normal; */
}

.border-1 {
    border-width: 1px;
}
